body {
  margin: 0;
  box-sizing: border-box;
  background-color: #f3f3f3;
  font-family: "News Cycle", sans-serif;
}

.top-bar {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.logo-container {
  margin-top: 5px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
}

a:visited {
  color: inherit;
}

.container {
  display: flex;
  padding: 24px;
}

.articles-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.article {
  text-align: justify;
  background-color: white;
  padding: 24px;
  border-radius: 8px;
}